:root {
  background: #000;
  color: #fff;
  /* font-size: 18px; */
  font-size: 1.25rem;
  line-height: 30px;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  border: none;
  list-style: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 6vw 0 9vw 9vw;
}

@media (max-width: 1024px) {
  body {
    /* padding: 6vw 6vw 9vw 6vw; */
    padding: 6vw 9vw 9vw 9vw;
  }
}

main {
  max-width: 50ch;
}

/* Article styles */

.writing-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.writing-container .main-content {
  max-width: 50ch;
}

.writing-container .supp-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 1.25rem 0 1.25rem;
}

.responsive-img {
  max-width: 100%;
  object-fit: cover;
}

/* @media (max-width: 768px) { */
@media (max-width: 1024px) {
  .writing-container {
    flex-direction: column;
  }

  .writing-container .main-content {
    max-width: 100%;
  }

  .writing-container .supp-content {
    margin: 0 0 1.25rem 0;
  }
}

/* End of article styles */

p:not(:last-child) {
  margin-bottom: 30px;
}

a {
  opacity: 0.6;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .contact {
    margin-bottom: 30px;
  }
}

i {
  font-style: italic;
}

li {
  margin-bottom: 30px;
}

.heading {
  max-width: 50ch;
  margin-bottom: 45px;
  display: inline-block;
}
